<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-party-heading" data-cy="PartyCreateUpdateHeading" jhiTranslate="ecommercePortalApp.party.home.createOrEditLabel">
        Create or edit a Party
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.party.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
              >This field cannot be longer than 200 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.party.partyCode" for="field_partyCode">Party Code</label>
          <input type="text" class="form-control" name="partyCode" id="field_partyCode" data-cy="partyCode" formControlName="partyCode" />
          <div *ngIf="editForm.get('partyCode')!.invalid && (editForm.get('partyCode')!.dirty || editForm.get('partyCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('partyCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('partyCode')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
              >This field cannot be longer than 100 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.party.tradeTitle" for="field_tradeTitle">Trade Title</label>
          <input
            type="text"
            class="form-control"
            name="tradeTitle"
            id="field_tradeTitle"
            data-cy="tradeTitle"
            formControlName="tradeTitle"
          />
          <div *ngIf="editForm.get('tradeTitle')!.invalid && (editForm.get('tradeTitle')!.dirty || editForm.get('tradeTitle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tradeTitle')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tradeTitle')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
              >This field cannot be longer than 200 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.party.activationDate" for="field_activationDate"
            >Activation Date</label
          >
          <div class="input-group">
            <input
              id="field_activationDate"
              data-cy="activationDate"
              type="text"
              class="form-control"
              name="activationDate"
              ngbDatepicker
              #activationDateDp="ngbDatepicker"
              formControlName="activationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="activationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('activationDate')!.invalid && (editForm.get('activationDate')!.dirty || editForm.get('activationDate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('activationDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.party.expirationDate" for="field_expirationDate"
            >Expiration Date</label
          >
          <div class="input-group">
            <input
              id="field_expirationDate"
              data-cy="expirationDate"
              type="text"
              class="form-control"
              name="expirationDate"
              ngbDatepicker
              #expirationDateDp="ngbDatepicker"
              formControlName="expirationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="expirationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.party.activationStatus" for="field_activationStatus"
            >Activation Status</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="activationStatus"
            id="field_activationStatus"
            data-cy="activationStatus"
            formControlName="activationStatus"
          />
          <div
            *ngIf="
              editForm.get('activationStatus')!.invalid &&
              (editForm.get('activationStatus')!.dirty || editForm.get('activationStatus')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('activationStatus')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.party.photo" for="field_photo">Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photo')!.value"
              alt="party image"
            />
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="ecommercePortalApp.party.personType"
            for="field_personType"
            [ngbTooltip]="'ecommercePortalApp.party.help.personType' | translate"
            >Person Type</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="personType"
            id="field_personType"
            data-cy="personType"
            formControlName="personType"
          />
          <div *ngIf="editForm.get('personType')!.invalid && (editForm.get('personType')!.dirty || editForm.get('personType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('personType')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
