<div>
  <h2 id="page-heading" data-cy="MyAuthorityHeading">
    <span jhiTranslate="ecommercePortalApp.myAuthority.home.title">My Authorities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecommercePortalApp.myAuthority.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-my-authority"
        [routerLink]="['/my-authority/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecommercePortalApp.myAuthority.home.createLabel">Create a new My Authority</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="myAuthorities?.length === 0">
    <span jhiTranslate="ecommercePortalApp.myAuthority.home.notFound">No My Authorities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="myAuthorities && myAuthorities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.myAuthority.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="displayName">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.myAuthority.displayName">Display Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parent.name">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.myAuthority.parent">Parent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myAuthority of myAuthorities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/my-authority', myAuthority.id, 'view']">{{ myAuthority.id }}</a>
          </td>
          <td>{{ myAuthority.name }}</td>
          <td>{{ myAuthority.displayName }}</td>
          <td>
            <div *ngIf="myAuthority.parent">
              <a [routerLink]="['/my-authority', myAuthority.parent.id, 'view']">{{ myAuthority.parent.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/my-authority']"
                [queryParams]="{ 'filter[parentId.in]': myAuthority.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('ecommercePortalApp.myAuthority.children' | translate) }"
                  >Show My Authority</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/resource-authority']"
                [queryParams]="{ 'filter[myAuthorityId.in]': myAuthority.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('ecommercePortalApp.myAuthority.resourceAuthorities' | translate) }"
                  >Show Resource Authority</span
                >
              </button>
              <a [routerLink]="['/my-authority', myAuthority.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/my-authority', myAuthority.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(myAuthority)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="myAuthorities && myAuthorities.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
