<div>
  <h2 id="page-heading" data-cy="FileDocumentHeading">
    <span jhiTranslate="ecommercePortalApp.fileDocument.home.title">File Documents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecommercePortalApp.fileDocument.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-file-document"
        [routerLink]="['/file-document/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecommercePortalApp.fileDocument.home.createLabel">Create a new File Document</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="fileDocuments?.length === 0">
    <span jhiTranslate="ecommercePortalApp.fileDocument.home.notFound">No File Documents found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="fileDocuments && fileDocuments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fileName">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.fileDocument.fileName">File Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fileContent">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.fileDocument.fileContent">File Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="filePath">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.fileDocument.filePath">File Path</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.fileDocument.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fileDocument of fileDocuments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/file-document', fileDocument.id, 'view']">{{ fileDocument.id }}</a>
          </td>
          <td>{{ fileDocument.fileName }}</td>
          <td>
            <a
              *ngIf="fileDocument.fileContent"
              (click)="openFile(fileDocument.fileContent, fileDocument.fileContentContentType)"
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="fileDocument.fileContent"
              >{{ fileDocument.fileContentContentType }}, {{ byteSize(fileDocument.fileContent) }}</span
            >
          </td>
          <td>{{ fileDocument.filePath }}</td>
          <td>{{ fileDocument.description }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product']"
                [queryParams]="{ 'filter[documentsId.in]': fileDocument.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('ecommercePortalApp.fileDocument.prices' | translate) }"
                  >Show Product</span
                >
              </button>
              <a [routerLink]="['/file-document', fileDocument.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/file-document', fileDocument.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(fileDocument)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fileDocuments && fileDocuments.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
