<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-wallet-heading" data-cy="WalletCreateUpdateHeading" jhiTranslate="ecommercePortalApp.wallet.home.createOrEditLabel">
        Create or edit a Wallet
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="ecommercePortalApp.wallet.transTypeClassId"
            for="field_transTypeClassId"
            [ngbTooltip]="'ecommercePortalApp.wallet.help.transTypeClassId' | translate"
            >Trans Type Class Id</label
          >
          <input
            type="number"
            class="form-control"
            name="transTypeClassId"
            id="field_transTypeClassId"
            data-cy="transTypeClassId"
            formControlName="transTypeClassId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.wallet.stock" for="field_stock">Stock</label>
          <input type="number" class="form-control" name="stock" id="field_stock" data-cy="stock" formControlName="stock" />
          <div *ngIf="editForm.get('stock')!.invalid && (editForm.get('stock')!.dirty || editForm.get('stock')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('stock')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small class="form-text text-danger" [hidden]="!editForm.get('stock')?.errors?.number" jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.wallet.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1000 }"
              >This field cannot be longer than 1000 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.wallet.deposit" for="field_deposit">Deposit</label>
          <input type="number" class="form-control" name="deposit" id="field_deposit" data-cy="deposit" formControlName="deposit" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecommercePortalApp.wallet.withdrawal" for="field_withdrawal">Withdrawal</label>
          <input
            type="number"
            class="form-control"
            name="withdrawal"
            id="field_withdrawal"
            data-cy="withdrawal"
            formControlName="withdrawal"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
