<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="ecommercePortalApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecommercePortalApp.category.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecommercePortalApp.category.home.createLabel">Create a new Category</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="ecommercePortalApp.category.home.notFound">No Categories found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.category.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.category.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hasChild">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.category.hasChild">Has Child</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="level">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.category.level">Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="keywords">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.category.keywords">Keywords</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.category.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parent.title">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.category.parent">Parent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
          </td>
          <td>{{ category.title }}</td>
          <td>{{ category.code }}</td>
          <td>{{ category.hasChild }}</td>
          <td>{{ category.level }}</td>
          <td>{{ category.keywords }}</td>
          <td>{{ category.description }}</td>
          <td>
            <div *ngIf="category.parent">
              <a [routerLink]="['/category', category.parent.id, 'view']">{{ category.parent.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product']"
                [queryParams]="{ 'filter[categoryId.in]': category.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('ecommercePortalApp.category.products' | translate) }"
                  >Show Product</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/category']"
                [queryParams]="{ 'filter[parentId.in]': category.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('ecommercePortalApp.category.children' | translate) }"
                  >Show Category</span
                >
              </button>
              <a [routerLink]="['/category', category.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categories && categories.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
