<div>
  <h2 id="page-heading" data-cy="AgreementHeading">
    <span jhiTranslate="ecommercePortalApp.agreement.home.title">Agreements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecommercePortalApp.agreement.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agreement"
        [routerLink]="['/agreement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecommercePortalApp.agreement.home.createLabel">Create a new Agreement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="agreements?.length === 0">
    <span jhiTranslate="ecommercePortalApp.agreement.home.notFound">No Agreements found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="agreements && agreements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.agreement.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.agreement.startDate">Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.agreement.endDate">End Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="activationStatusClassId">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.agreement.activationStatusClassId">Activation Status Class Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="infrastructureBenefit">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.agreement.infrastructureBenefit">Infrastructure Benefit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="extraBenefit">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.agreement.extraBenefit">Extra Benefit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="provider.title">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.agreement.provider">Provider</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="consumer.title">
            <div class="d-flex">
              <span jhiTranslate="ecommercePortalApp.agreement.consumer">Consumer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agreement of agreements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/agreement', agreement.id, 'view']">{{ agreement.id }}</a>
          </td>
          <td>{{ agreement.name }}</td>
          <td>{{ agreement.startDate | formatMediumDate }}</td>
          <td>{{ agreement.endDate | formatMediumDate }}</td>
          <td>{{ agreement.activationStatusClassId }}</td>
          <td>{{ agreement.infrastructureBenefit }}</td>
          <td>{{ agreement.extraBenefit }}</td>
          <td>
            <div *ngIf="agreement.provider">
              <a [routerLink]="['/party', agreement.provider.id, 'view']">{{ agreement.provider.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="agreement.consumer">
              <a [routerLink]="['/party', agreement.consumer.id, 'view']">{{ agreement.consumer.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/agreement', agreement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/agreement', agreement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(agreement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="agreements && agreements.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
